@model List<OriginWeb.VM.Employee.EmployeesVM>

<table class="table table-dark">
    <thead>
        <tr>
            <th>EmployeeID</th>
            <th>LastName</th>
            <th>FirstName</th>
            <th>Title</th>
            <th>TitleOfCourtesy</th>
            <th>Features</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.EmployeeID</td>
            <td>@item.LastName</td>
            <td>@item.FirstName</td>
            <td>@item.Title</td>
            <td>@item.TitleOfCourtesy</td>
            <td>
                <button type="button" class="btn btn-primary" onclick="ShowEdit(@item.EmployeeID)" data-toggle="modal" data-target="#divPopup">Edit</button>
                <button type="button" class="btn btn-danger" onclick="Delete(@item.EmployeeID)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>

